body{
    background-color: rgb(0, 0, 0);
    margin: auto;
    padding: 10px;
}

.container, .btn-primary { 
    background-color: black;
    margin: 0px;
    padding: 5px;
    float: right;
}

h1,  .nav-link, .footer-link  {
    color: darkred;
}
h4, .form-group {
    color: rgb(255, 255, 255);
}

.nav {
    float: right;
}
.footer, .footer-link{
    display: flex;
    float: left;
}

.contactPage {
    display: inline;
}

.projectCards {
    display: flex;
}

.card {
    display: grid;
}